<header class="navbar navbar-expand-md d-print-none">
  <div class="container">
    <a
      class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3"
      href="{{ site.url }}/"
    >
      <img
        src="{{ site.url }}/assets/icons/tent.svg"
        width="24"
        height="24"
        alt="Techtribes logo"
      />
      <h1 class="mb-0">Techtribes</h1>
    </a>
    <div class="navbar-nav flex-row order-md-last">
      <div class="nav-item d-none d-md-flex">
        <div class="btn-list">
          <a href="https://github.com/olegp/techtribes" class="btn">
            <img
              src="{{ site.url }}/assets/icons/github.svg"
              width="20"
              height="20"
              class="icon"
              alt="GitHub logo"
            />
            Source code
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
