---
layout: default
title: Tech communities in Finland
---

<div class="page-header d-print-none">
  <div class="container">
    <div class="row g-2 align-items-center">
      <div class="col">
        <h2 class="page-title">Upcoming events</h2>
      </div>
      <div class="col-auto ms-auto d-print-none">
        <a href="#" class="btn btn-primary">
          {% include icons/plus.svg %} Add a community
        </a>
      </div>
    </div>
  </div>
</div>
<div class="page-body">
  <div class="container">
    <div class="row row-cards">
      <div class="space-y">
        {% for community in site.data.output.future %} {% include card.html %} {%
        endfor %}
      </div>
    </div>
  </div>
</div>
<div class="page-header d-print-none">
  <div class="container">
    <div class="row g-2 align-items-center">
      <div class="col">
        <h2 class="page-title">Past events</h2>
      </div>
    </div>
  </div>
</div>
<div class="page-body">
  <div class="container">
    <div class="row row-cards">
      <div class="space-y">
        {% for community in site.data.output.past %} {% include card.html %} {%
        endfor %}
      </div>
    </div>
  </div>
</div>
