<footer class="footer footer-transparent d-print-none">
  <div class="container">
    <div class="row text-center align-items-center flex-row-reverse">
      <div class="col-lg-auto ms-lg-auto">
        <ul class="list-inline list-inline-dots mb-0">
          <li class="list-inline-item">
            Sponsored by
            <a href="https://www.toughbyte.com/about" class="link-secondary"
              >Toughbyte</a
            >
          </li>
          <li class="list-inline-item">
            Host a meetup on
            <a
              href="https://www.meetabit.com/communities/new"
              class="link-secondary"
              >Meetabit</a
            >
          </li>
        </ul>
      </div>
      <div class="col-12 col-lg-auto mt-3 mt-lg-0">
        <ul class="list-inline list-inline-dots mb-0">
          <li class="list-inline-item">
            Last updated on {{ site.time | date: '%d/%m/%Y' }}
          </li>
          <li class="list-inline-item">
            <a href="https://github.com/olegp/meetups" class="link-secondary"
              >Source code</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
