<header class="navbar navbar-expand-md d-print-none">
  <div class="container">
    <button
      class="navbar-toggler"
      style="opacity: 0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbar-menu"
      aria-controls="navbar-menu"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3"
    >
      <h1>{{ page.title }} &#127467;&#127470;</h1>
    </div>
    <div class="navbar-nav flex-row order-md-last">
      <div class="nav-item d-none d-md-flex">
        <div class="btn-list">
          <a
            href="https://github.com/olegp/meetups"
            class="btn"
          >
            {% include icons/github.svg %}
            Source code
          </a>
        </div>
      </div>
  </div>
</header>
