<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title }}</title>
    <meta
      name="description"
      content="Active tech community events worldwide."
    />
    {% assign file = site.static_files | where: "path", "/assets/css/tabler.css"
    | first %}
    <link
      rel="stylesheet"
      href="{{ site.url }}/assets/css/tabler.css{{ file.modified_time | date:'?v=%s' }}"
    />
    <style>
      .icon-tabler {
        width: 32px;
        height: 32px;
        margin-right: 16px;
      }
      .logo {
        --tblr-avatar-size: 4rem;
      }
    </style>
    <link
      rel="icon"
      href="{{ site.url }}/assets/icons/favicon.ico"
      type="image/x-icon"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ site.url }}/assets/icons/favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ site.url }}/assets/icons/favicon-32x32.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ site.url }}/assets/icons/apple-touch-icon.png"
    />
  </head>
  <body class="theme-dark-auto">
    <div class="page">
      <div class="page-wrapper">
        {% include header.html %} {{ content }} {% include footer.html %}
      </div>
    </div>
  </body>
</html>
